.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 592px;
  gap: 24px;

  &__username {
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    margin: 0;
  }
}

.profile__avatar {
  width: 200px;
  height: 200px;
  background-image: url(../../assets/avatars/profile-avatar-big.png);
}
